{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Channel 42</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<div class="tiny-top-bar">
    <div class="top-button-div-el">
        <a href="/" class="top-bar-button">Home</a>
    </div>
</div>
    <div class="center-main-container">
        <div class="logo-row-box">
                <img class='image-logo' src="{% static 'img/logo_white-min.png' %}" alt="">
        </div>
        <div class="main-content-box">
            <h1 class='about-title'>About.</h1>
            <div class="about-page-main-div">
                <p class="about-page-text">

                    Hey everyone, 
                    <br>
                    <br>

                    I am a long-time redditor and a law student who likes to procrastinate by building software things. I have been working on this side project for a couple months and am happy to finally
                    release it into the wild. 
                    <br><br>

                    Welcome to Channel 42. 
                </p>
                <h2 class="about-h2">
                    What is Channel 42?
                </h2>

                <p class="about-page-text">
                    Channel 42 is a temporary, disposable, authentication-free voice chat platform built to make reddit better. 
                    
                    <br><br> 
                    It's ease of use was inspired by Imgur (another for-reddit-by-reddit project). 
                    <br><br> 
                    
                    
                    Go to the site, create a subchannel, and share the URL. It's that simple. 
                    <br><br> 
                    Anyone with the link is connected automatically.
                    <br><br> 
                    The roooms are capped at four participants and expire after two hours. 
                    <br><br>
                </p>
                <h2 class="about-h2">
                    What is Channel 42 for?
                </h2>

                <p class="about-page-text">
                    Reddit is really good at bringing people with common interests together, it does an awesome job of connecting us
                     - but once we've found someone we want to go back-and-forth with, a message board isn't always the best medium for efficient communication. 
                     Sometimes its easier to just talk. 
                     
                    <br><br> 
                    But you don't always want to share 
                    your personal info (socials, email, phone, discord, etc.) with someone just so that you can chat with them for a few minutes. It's unneccessary. This is where Channel 42 comes in.
                    <br><br>
                    Reddit has already done the hard part: helping us connect with others who share our interests - Channel 42 is just another communication layer that can be used when needed. 
                    <br><br> 
                    Whether it is an earnest debate in r/changemyveiw 
                    or an expert in a niche sub explaining something like you are 5, Channel 42 can be a great way to exchange ideas quickly and easily in a variety of contexts. 
                </p>
                <h2 class="about-h2">
                    How does Channel 42 work?
                </h2>
                <p class="about-page-text">
                    Clicking "Generate Subchannel" on the home page will bring you to a brand new subchannel. You can click "Copy Room URL" (or just grab it from the URL bar in the browser) and then share that link. 
                    
                    You can share links via DM, or post them publicly right into a reddit thread. How you share them is up to you. Anyone with the link can enter the room and join the conversation (unless the room is full).
                    <br><br>
                    Because there is no traditional Auth, you should be mindful about where you share a link, depending on your goals. The rooms are capped at four participants because voice can get messy with too many people.
                    This is something that could change in future releases. 
                    <br><br>
                    When links are posted publicly, trolls may infiltrate. How to handle that is up to you, but remember you can always ditch the channel and make a new one, sharing by DM for example. 
                    <br><br>
                    My hope is that some public links will be useful, perhaps because they will be burried deep into comment sections such that only interested users would venture that far down and stumble across them. 
                    I will be interested to see how the uses of Channel 42 develop. Its designed for reddit but maybe it would be good on StackOverflow, or for gaming. Time will tell. 
                    <br><br>
                    Because the subchannels only last for a couple hours, subreddits will probably want a moderator bot to auto-delete Channel 42 links that are older than that amount of time, 
                    so that comment sections don't get littered with stale links. 
                    I haven't ever made an auto-mod bot before, but if this becomes a problem I will be happy to contribute and/or write one. 
                    <br><br>
                    If you would like to chat longer than 2 hours you can: A) make a new subchannel or B) exchange info and chat on another platform. 
                    Its totally up to you. Channel 42 is the Citizens' Band. 
                </p>
                <h2 class="about-h2">
                    Why "42"?
                </h2>

                <p class="about-page-text">
                    It is the meaning of life. And the domain was available.
                    <br><br>
                </p>

                <h2 class="about-h2">
                    What is a shareport?
                </h2>

                <p class="about-page-text">
                    Channel 42 is for voice chatting, but I wanted to give people a way to share links during their conversation if they need to. 
                    So I came up with the shareport. It has just one input and one output. 
                    <br><br>
                    Send a link outbound to the rest of the room, or copy an inbound link to your clipboard. 
                    
                </p>

                <h2 class="about-h2">
                    What's the stack?
                </h2>
                <p class="about-page-text">
                    Channel 42 uses webRTC (Google's open-source media streaming library) to setup p2p (peer-to-peer) connections between users in a room, resulting in a decentralized "Mesh" archetecture. All connections are end-to-end encrypted.  
                    <br><br>
                    Because it creates p2p connections, Channel 42 may not work with some VPNs, or may take a long time to connect through a VPN. That is a tradeoff I made. I am open to other archetectures in the future if there is demand, but this is version 1.
                    <br><br>
                    Channel  42 runs on a vanilla Javascript frontend, and Python (Django) on the server side. Signaling is done using websockets. I wrote everything myself with help from many sources online. 
                    All bugs are my own.
                    <br><br>
                    Channel 42 has been a labor of love. This is definitely the most ambitious software project I have worked on, and a lot of elbow grease has gone into it. It's been fun and I have learned a ton. 
                    The logo is based on an old CB (Citizens' Band) Radio, and I made it in photoshop. 
                </p>

                <h3 class="about-h3">
                    Bugs? Questions? Comments?
                </h3>
                <p class="about-page-text contact-p">
                    reachout.channel42@gmail.com
                </p>

            </div>
        </div>
    </div>


