{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Channel42</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon4.ico' %}">
<div class="center-main">
    <div class="top red">
        <img src="{% static 'img/logo_white.png' %}" alt="">
    </div>
    <div class="bottom blue">
        <form action="{% url 'chat:generate' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Generate New Subchannel!">
        </form>
    </div>
</div>




