<!DOCTYPE html>

{% load static %}

<html lang="en">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <head>
        <meta charset="UTF-8">
        <title>Channel42</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Channel42" />
        <!-- <meta property="og:description" content="Meet me on Channel42" /> -->
        <meta property="og:image" content="https://media.istockphoto.com/id/1190658706/vector/podcast-icon-like-on-air-live-podcast-badge-icon-stamp-logo-radio-broadcasting-or-streaming.jpg?s=612x612&w=0&k=20&c=FDjHNA44BTfz0UWfZpjswiwzUtxRflXiD0pXwS1phs8=" />
    </head>
    <body>
        <nav class="tiny-top-bar">
                <div class="top-bar-button"><a id='home-btn' href="/" class="top-bar-button">Home</a></div>
                <div class="top-bar-button"><a href="/about" class="top-bar-button">About</a></div>
        </nav>
        <div class="center-main-container">
            <div class="logo-box-top">
                    <img id='main-logo-image' class='main-logo-img' src="{% static 'img/logo_white-min.png' %}" alt="">
            </div>
            <div id="side-car-div">
                <div class="data-box-middle-row">
                    <table class="data-table">
                        <tbody>
                            <tr>
                                <td>Subchannel URL:</td>
                                <td>........</td>
                                <td class="table-data-end">{{room_name}}</td>
                            </tr>
                            <tr>
                                <td>Version:</td>
                                <td>......</td>
                                <td class="table-data-end">1.01</td>
                            </tr>
                            <tr>
                                <td>#Active(DB):</td>
                                <td>......</td>
                                <td class="table-data-end" id="connected-user-count-db">X</td>
                            </tr>
                            <tr>
                                <td>#Active(JS):</td>
                                <td>......</td>
                                <td class="table-data-end"  id="connected-user-count-js">X</td>
                            </tr>
                            <tr>
                                <td>#Active(CD):</td>
                                <td>......</td>
                                <td class="table-data-end" id="connected-user-count-dc">X</td>
                            </tr>
                            <tr>
                                <td>Max Users:</td>
                                <td>......</td>
                                <td class="table-data-end">4</td>
                            </tr>
                            <tr>
                                <td>Time to expiry:</td>
                                <td>......</td>
                                <td class="table-data-end" id="expiry_clock">^Loading</td>
                            </tr>
                            <!-- <tr>
                                <td>JS time Now:</td>
                                <td>......</td>
                                <td class="table-data-end" id="time-now">^Loading</td>
                            </tr>
                            <tr>
                                <td>difference:</td>
                                <td>......</td>
                                <td class="table-data-end" id="diff-now">^Loading</td>
                            </tr> -->
                            <tr>
                                <td>You are:</td>
                                <td>......</td>
                                <td id="user-username" class="table-data-end">TEMP</td>
                            </tr>
                            <tr>
                                <td>Also connected:</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ul id="dummy-peer-list">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </td>
                                <td id="peer-table-row" class="table-data-end">
                                    <ul id="connected-peer-list">
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottom-box-controls-row">
                    <div class="div-lower-button"><button class="control-button control-button-mute" id="btn-toggle-audio">  Mute Mic</button>  </div>
                    <div class="div-lower-button"><button onclick=disconnectUser() class="control-button control-button-disconnect" id="btn-disconnect"</button> Disconnect </div>
                    <div class="div-lower-button"><button class="control-button control-button-copy" id="btn-copy-link"><img id='link-logo-img' src="{% static 'img/link-img9.png' %}"/>Copy Room URL</button>  </div>
                    <div class="div-lower-button switch-box">
                        <div class="switch-label-box">
                            <text class="switch-label-text">Play sound</text>
                            <text class="switch-label-text">on join: </text>
                        </div>
                        <label class="switch">
                            <input id="alert-input" type="checkbox" autocomplete="off">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    
                </div>

            </div>
            
            <div id="chat">
                <h3>Chat</h3>
                <div id="messages">
                    <ul id="message-list"></ul>
                </div>
                <div><input id="msg"><button id="btn-send-msg">Send Message</button></div>
                <button id="new-peer-button">New Peer Signal</button>   
                <div id="talking-test"></div>
            </div>

            <div class="audio-container">
                <audio id='local-audio' autoplay playsinline></audio>
            </div>
            <audio id="new-peer-joining-sound">
                <source src="{% static 'img/entrance_sound.mp3' %}" type="audio/mpeg">
            </audio>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="prefetch" href="{% static 'img/logo_white-red-min.png' %}">

</html> 
