<!DOCTYPE html>

{% load static %}

<html lang="en">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon4.ico' %}">
    <head>
        <meta charset="UTF-8">
        <title>Channel42</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h1> Welcome to Channel42 </h1>
        <h2> -The Citizen's Band- </h2>
        <h3> Subchannel URL: <h3 id="room-name">{{room_name}}</h3>  </h3>
        <br>
        <h3>Number of active: <h3 id="connected-user-count">{{talker_count}}</h3></h3>
        <br> 
        <br>
        <div>
            <h3 id="label-username"></h3>
        </div>
        <br>
        <div class="main-grid-container">
            <div id="video-container">
                <div><video id="local-video" style="float: left;" autoplay playsinline></video></div>
                <button id="btn-toggle-audio">Audio Mute</button>
                <button id="btn-toggle-video">Video Off</button>
            </div>
            <br>

            <button id="btn-get-active">Get Data</button>
            <!-- <div id="chat">
                <h3>Chat</h3>
                <div id="messages">
                    <ul id="message-list"></ul>
                </div>
                <div><input id="msg"><button id="btn-send-msg">Send Message</button></div>
                <button id="btn-share-screen">Share Screen</button>
            </div> -->
        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html> 