{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Channel 42</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/swag.css' %}">
    <meta property="og:title" content="Channel 42" />
    <meta property="og:description" content="Check out this Channel 42 Swag" />
    <meta property="og:image" content="{% static 'img/square-logo.png' %}" />
</head>
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
<div class="tiny-top-bar">
    <div class="top-button-div-el">
        <a href="/" class="top-bar-button">Home</a>
    </div>
</div>
<div class="center-main-container">
    <div class="logo-row-box">
        <img class='image-logo' src="{% static 'img/logo_white-min.png' %}" alt="">
    </div>
    <div class="main-content-box">
        <h1 class='title-four-o-four'>Swag.</h1>
        <div class="about-page-main-div">
            <div class='overall-item-div'>
                <div class="swag-div">
                    <img class="chunky-img" src="{% static 'img/sweatshirt.png' %}" alt="">
                </div>
            </div>
            
            <div class="text-div">
                <p class='p-404'>Sweatshirts on preorder. $40 + Shipping. Sign up <a href="https://forms.gle/robZozkwgH7FbGj77">here</a></p>
            </div>
            <div class="text-div">
                <p class='p-404'>Sending free stickers to first 100 people to email me. Address on "about" page.</p>
            </div>
            <div class="text-div">
                <p class='p-404'>Enjoy the service? Become a Patron: <a href="https://patreon.com/purplefloyd?utm_medium=clipboard_copy&utm_source=copyLink&utm_campaign=creatorshare_creator&utm_content=join_link">Patreon</a> </p>
            </div>
        </div>
    </div>
</div>


