

.center-main-container {
    display: flex;
    height: 80%;
    margin: auto;
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

 html, body {
    height: 100%;
    overflow: hidden;
}

.total-page-container {
    overflow: hidden;
    display: flex;
    height: 95%; 
    width: 100%;
}

.form-adjust{
    width:100%;
}

.generate-button:hover {
    border: 2px solid #3ac920;
    cursor:pointer;
}
.about-button {
    font-size:17px;
    color: black;
    font-family: monospace;
    padding-right: 5px;
}

.tiny-top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.generate-button {
    white-space: normal;
    width: 68%;
    background-color: #3b3c40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 5px;
    font-family: monospace;
}

img {
    width: 80%;
    max-width: 700px;
    padding-left: 34px;
}

.inner-box { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 47%;
}


@media (min-width: 320px) and (max-width: 999px) {

    .top-button-div{
        height: 100%;
    }

    .generate-button {
        white-space: normal;
        width: 100%;
        height: 50%;
        background-color: #3b3c40;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 80px;
        border-radius: 15px;
        font-family: monospace;
    }

    .about-button {
        display: flex;
        color: black;
        font-family: monospace;
        padding: 50px;
        padding-bottom: 0px;
        font-size: 50px;
        display: block;
    }

    html, body {
        height: 99%;
        overflow-x: hidden;
      }
      body {
        position: relative;
      }

      html, body {
        overscroll-behavior-y: none;
      }

    .generate-button:hover {
        border: 10px solid #3ac920;
        cursor:pointer;
    }

    html {
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    

  }