

.center-mains {
    display: flex;
    height: 70%;
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
     align-items: center;
  }

.reds {
  }

.top {
    width: 100%;
    height: 50%;
}

.bottom { 
    width: 100%;
    height: 50%;
}
