 html, body {
    height: 100%;
    overflow: hidden;
}

img {
    max-height:100%; 
    max-width:100%;
}

.tiny-top-bar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.top-bar-button {
    color: black;
    font-family: monospace;
    margin: 1%;
    font-size: 2vh;
}

.center-main-container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96vw;
    height: 35vh;
}

.button-box{
    display: flex;
    width: 96vw;
    height: 30vh;
    align-items: center;
    flex-direction: column;
}

.form-div{
    display: block;
    height: 20vh;
    width: 60vw;
}

.button-form{
    width:100%;
}

.generate-button {
    white-space: normal;
    width: 100%;
    background-color: #3b3c40;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    border-radius: 5px;
    font-family: monospace;
}

.generate-button:hover {
    border: 2px solid #3ac920;
    cursor:pointer;
}



@media (min-width: 600px) {

    img{
        max-width: 670px    ;
    }

    .form-div{
        max-width:500px;
        margin-right: 3em;  
    }
}

/* @media (min-width: 320px) and (max-width: 750px) {

    .top-button-div{
        height: 100%;
    }

    .generate-button {
        white-space: normal;
        width: 100%;
        height: 50%;
        background-color: #3b3c40;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 80px;
        border-radius: 15px;
        font-family: monospace;
    }

    .about-button {
        display: flex;
        color: black;
        font-family: monospace;
        padding: 50px;
        padding-bottom: 0px;
        font-size: 50px;
        display: block;
    }

    html, body {
        height: 99%;
        overflow-x: hidden;
      }
      body {
        position: relative;
      }

      html, body {
        overscroll-behavior-y: none;
      }

    .generate-button:hover {
        border: 10px solid #3ac920;
        cursor:pointer;
    }

    html {
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    

  } */