.full-room-main-box {
   border: 3px solid red;
   width: 30%; 
   text-align: center;
  }

.about-page-main-div {
   box-shadow: 10px 5px 5px grey;
   font-size: 18px;
   font-family: monospace;
   width: 100%;
   border-style: solid;
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 1222px;
}

.about-title { 
   align-self: flex-start;
}

.top-bar-button {
   font-size: 17px;
}

html, body {
   height: 100%;
   overflow: hidden;
}

.about-image-button{ 
   background: none;
   height: 100%;
   border: none;
}

.tiny-top-bar {
   display: flex;
   align-items: flex-end;
   justify-content: flex-end; 
   font-family: monospace;
}

.image-logo {
   display: flex;
   height: 100%;
}

.image-logo:hover {
   display: flex;
   height: 100%;
   cursor: pointer;
}

.title-four-o-four { 
   align-self: flex-start;
}


.logo-row-box {
   display: flex;
   height: 10%;
   ALIGN-ITEMS: flex-start;
   justify-content: flex-start;
}

.main-content-box {
   padding-top: 30px;
   display: flex;
   justify-self: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: monospace;
   max-width: 700px;
   width: 85%;
}


.center-main-container {
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
}

.about-page-text {
   width: 93%;
   display: flex;
   justify-content: center;
   align-items: center;
}


.chunky-img{
   -webkit-transform:scale(0.6); /*Webkit: Scale down image to 0.6x original size*/
   -moz-transform:scale(0.6); /*Mozilla scale version*/
   -o-transform:scale(0.6); /*Opera scale version*/
   -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
   -moz-transition-duration: 0.5s; /*Mozilla duration version*/
   -o-transition-duration: 0.5s; /*Opera duration version*/
   }
   
.chunky-img:hover{
-webkit-transform:scale(0.9); /*Webkit: Scale up image to most of the original size*/
-moz-transform:scale(0.9); /*Mozilla scale version*/
-o-transform:scale(0.9); /*Opera scale version*/
}



@media (min-width: 320px) and (max-width: 999px) {

   .tiny-top-bar {
      height: 7%
   }

   html, body {
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
   }

   /* body {
      position: relative;
    } */

    html, body {
      overscroll-behavior-y: none;
    }

    .top-bar-button {
      display: flex;
      color: black;
      font-family: monospace;
      padding: 50px;
      padding-bottom: 0px;
      font-size: 50px;
      display: block;
  }

  .about-title { 
   align-self: flex-start;
   font-size: 50px;
}

.about-page-main-div {
   box-shadow: 10px 5px 5px grey;
   font-size: 40px;
   font-family: monospace;
   width: 100%;
   border-style: solid;
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 1222px;
}

.top-button-div-el {
   height: 100%;
}

.logo-row-box {
   display: flex;
   height: 10%;
   align-items: center;
   justify-content: center;
}

.main-content-box{
   max-width: none;
   padding-bottom: 10%;
}

 }